.bestsellers {
  background-color: $bg-card;
  color: $accent;

  &__inner {
    @extend %inner;
    position: relative;
    color: $accent;
    padding-top: 52px;
    margin-bottom: 80px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(8, 150px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 52px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1280px;
    transition: 0.3s;
  }

  &__shrek {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__beatles {
    grid-area: 1 / 2 / 3 / 4;
  }

  &__minecraft {
    grid-area: 1 / 4 / 2 / 5;
  }

  &__onerepublick {
    grid-area: 1 / 5 / 2 / 6;
  }

  &__linkin-park {
    grid-area: 1 / 6 / 3 / 8;
  }

  &__miles-davis {
    grid-area: 1 / 8 / 2 / 9;
  }

  &__numb {
    grid-area: 2 / 1 / 3 / 2;
  }

  &__nirvana {
    grid-area: 2 / 4 / 4 / 6;
  }

  &__ahmad-jamal {
    grid-area: 2 / 8 / 4 / 25;
    overflow: hidden;
  }

  &__folamour {
    grid-area: 3 / 1 / 4 / 2;
  }

  &__michael-jackson {
    grid-area: 3 / 2 / 4 / 3;
  }

  &__from-zero {
    grid-area: 3 / 3 / 4 / 4;
  }

  &__random-access-memories {
    grid-area: 3 / 6 / 4 / 7;
  }

  &__aurora {
    grid-area: 3 / 7 / 4 / 8;
  }

  &__img {
    @extend %img;
  }
}