@font-face {
  font-family: 'broadway-normal',;
  src: local('broadway-normal'),
        url('../fonts/broadway-normal.woff2') format('woff2'),
        url('../fonts/broadway-normal.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'helvetica_neue-regular',;
  src: local('helvetiac_neue-regular'),
        url('../fonts/helvetica_neue-regular.woff2') format('woff2'),
        url('../fonts/helvetica_neue-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'limelight-regular',;
  src: local('limelight-regular'),
        url('../fonts/limelight-regular.woff2') format('woff2'),
        url('../fonts/limelight-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}