.genres {
  background-color: #171717;
  color: #FFE2A9;
  padding-bottom: 177px;
  height: 1229px;

  .title {
    text-align: center;
    padding-bottom: 61px;
    padding-top: 45px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 288px 264px 288px;
    grid-template-rows: 294px 292px 292px;
    @extend %helvetica-neue-400;
    font-size: 24px;
    color: #ffffff;
  }

  &__card {
    transition: 0.3s;
  }

  &__card--classic-rock {
    grid-area: 1 / 1 / 3 / 3;
    margin-left: 10px;
    width: 456px;
    height: 528px;
    transition: 0.3s;
  }


  &__card--r-b-soul {
    grid-area: 1 / 3 / 2 / 4;
    margin-right: 12px;
  }

  &__card--jazz {
    grid-area: 1 / 4 / 2 / 5;
  }

  &__card--pop-music {
    grid-area: 2 / 3 / 3 / 4;
  }

  &__card--pop-rock {
    grid-area: 2 / 4 / 3 / 5;
  }

  &__card--prog-music {
    grid-area: 3 / 1 / 4 / 2;
  }

  &__card--blues {
    grid-area: 3 / 2 / 4 / 3;
  }

  &__card--hard-rock {
    grid-area: 3 / 3 / 4 / 4;
  }

  &__card--electronik {
    grid-area: 3 / 4 / 4 / 5;
  }

  &__img {
    margin-bottom: 26px;
  }

  &__text--bold {
    font-size: 32px;
    margin-top: 37px;

    &:hover {
      color: #7a7a7a;
    }

    &:active {
      color: #838383;
    }
  }

  &__img {
    @extend %img;
  }

  &__text {
    &:hover {
      color: #7a7a7a;
    }

    &:active {
      color: #838383;
    }
  }
}