body {
  background-color: $bg;
  color: $text;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.inner {
  max-width: 961px;
  margin: 0 auto;
}

.title {
  @extend %limelight-400;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
}

.button {
  @extend %helvetica-neue-400;
  @extend %button;
  position: absolute;
  right: 0;
  margin: 0;
  border: 1px solid $accent;
  color: $accent;
  border-radius: 28px;
  width: 85px;
  height: 30px;
  text-align: center;
  transition: 0.3s;

  &:hover {
    border: 1px solid $btn-hover;
    color: $btn-hover;

    &:active {
      border: 1px solid $btn-active;
      color: $btn-active;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 7px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 33px;
  height: 2px;
  background-color: $text;
  border-radius: 2px;
  transition: 0.3s;
}

.icon-btn {
  display: none;
}

.arrows {
  stroke: $accent;
  transition: stroke 0.3s;

  &:hover {
    stroke: $btn-hover;
  }

  &:active {
    stroke: $btn-active;
  }
}