%broadway-400 {
  font-family: 'broadway-normal', sans-serif;
  font-weight: 400;
}

%helvetica-neue-400 {
  font-family: 'helvetica_neue-regular', sans-serif;
  font-weight: 400;
}

%limelight-400 {
  font-family: 'limelight-regular', sans-serif;
  font-weight: 400;
}

%d-flex {
  display: flex;
  justify-content: space-between;
}

%button {
  display: block;
  align-content: center;
}

%inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
}

%link {
  &:hover {
    color: #4e4e4e;
  }

  &:active {
    color: #838383;
  }
}

%shop-now {
  &:hover {
    background-color: #4e4e4e;
    color: #fff0d4;
  }

  &:active {
    background-color: #ffe2a9;
    color: #171717;
  }
}

%img {
  &:hover {
    background-color: #4e4e4e;
    filter: opacity(40%);
  }

  &:active {
    background-color: #838383;
    filter: opacity(40%);
  }
}

$white: #fff;
$black: #000;
$gray: #707070;
$accent: #FFE2A9;
$bg: #ED6044;
$text: #171717;
$btn-hover: #fff7e6;
$btn-active: #d9d3c6;
$bg-card: #070707;
$text-dark: #383d38;
$text-hover: #7a7a7a;
$text-active: #838383;
$border: #ccc;
$link: #333;
$link-hover: #f2f2f2;